<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Chirag Kumar" />
    <meta
      name="description"
      content="Existence is a UI Component Library which helps you Build your UI"
    />

    <link rel="stylesheet" href="../../Style/common.css" />
    <link rel="stylesheet" href="../../Style/docs.css" />
    <link rel="stylesheet" href="../../Style/utility.css" />
    <link rel="stylesheet" href="./images.css" />

    
    <title>Existence | Docs</title>
  </head>
  <body>
    <div class="start">
      <header class="main-head">
        <div class="logo-img">
        <a  href="#docs">
            <img class="logo-image" src="../../assets/existence.svg" alt="logo">
        </a></div>
        <ul class="display-flex gap">
            <li class="non-bullet list-item-inline"><a href="../../../index.html">Home</a></li>
            <li class="non-bullet list-item-inline"><a href="../../docs.html">Docs</a></li>
          </ul>
    </header>

      <!-- menu bar -->
      <aside>
        <div class="menu-bar">
          <h1>Components</h1>
          <ul class=""> 
            <a  href="../../docs.html"><li class="non-bullet hover-menu">Avatar</li></a>
            <a  href="../badge/badge.html"><li class="non-bullet hover-menu">Badge</li></a>
            <a  href="../alert/alert.html"><li class="non-bullet hover-menu">Alert</li></a>
            <a  href="../button/button.html"><li class="non-bullet hover-menu">button</li></a>
            <a  href="../card/card.html"><li class="non-bullet hover-menu">Card</li></a>
            <a  href="#images"><li class="non-bullet hover-menu highlight">Images</li></a>
            <a  href="../input/input.html"><li class="non-bullet hover-menu">Input</li></a>
            <a  href="../modal/modal.html"><li class="non-bullet hover-menu">Modal</li></a>
            <a  href="../navigation/navigation.html"><li class="non-bullet hover-menu">Navigation</li></a>
            <a  href="../snackbar/snackbar.html"><li class="non-bullet hover-menu">Snackbar</li></a>             
          </ul>
        </div>
      </aside>

      <!-- Content -->
      <main>
        <div class="heading">
          <h1>Image</h1>
          <h2>Usage</h2>
          <p>Images can be used in various places in site and it should be responsive so that it will try to occupy space
              of the container according to screen sizes.
          </p>
        </div>
        <h1>Responsive Image</h1>
        <div class="container-div flex">
            <img class="responsive-img" src="../../assets/image3.jpg" alt="image">
        </div>
        <h1>Round Image</h1>
        <div class="comp-live flex round-img">
            <img class="responsive-img round-img" src="../../assets/image3.jpg" alt="image">
        </div>        
        
      </main>
      <footer>
        
        <div class="footer-header" style="margin-bottom:2rem">Connect with me</div>
        
        <ul class="display-flex padding-zero">
            <li class="non-bullet list-item-inline">
                <a href="https://twitter.com/ChiragK31231937" class="links" target="blank">
                    <img src="../../assets/social/twitter.svg" alt="Twitter link" class="footer-icon">
                </a>
            </li>
            <li class="non-bullet list-item-inline">
                <a href="https://github.com/ChiragKumar987" class="links" target="blank">
                    <img src="../../assets/social/github.svg" alt="GitHub link" class="footer-icon">
                </a>
            </li>
            <li class="non-bullet list-item-inline">
                <a href="https://www.linkedin.com/in/chirag-kumar-b30443139/" class="links" target="blank">
                    <img src="../../assets/social/MdiLinkedin.svg" alt="Linkedin link" class="footer-icon">
                </a>
            </li>
            <li class="non-bullet list-item-inline">
                <a href="https://www.instagram.com/myself_chirag_/" class="links" target="blank">
                    <img src="../../assets/social/insta.svg" alt="Instagram link" class="footer-icon">
                </a>
            </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
