.container-div{

    height:50%;
    width: 40%;
    margin-top: 1rem;
    padding: 2rem 0;
    justify-content: space-evenly;
    border-radius: 1rem;
}
.responsive-img{
    width: 100%;
    height: auto;
}

.round-img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}