<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Chirag Kumar" />
    <meta
      name="description"
      content="Existence is a UI Component Library which helps you Build your UI"
    />

    <link rel="stylesheet" href="../../Style/common.css" />
    <link rel="stylesheet" href="../../Style/docs.css" />
    <link rel="stylesheet" href="../../Style/utility.css" />
    <link rel="stylesheet" href="../button/button.css" />
    <link rel="stylesheet" href="../snackbar/snackbar.css" />


    


    
    <title>Existence | Docs</title>
  </head>
  <body>
    <div class="start">
      <header class="main-head">
        <div class="logo-img">
        <a  href="#docs">
            <img class="logo-image" src="../../assets/existence.svg" alt="logo">
        </a></div>
        <ul class="display-flex gap">
            <li class="non-bullet list-item-inline"><a href="../../../index.html">Home</a></li>
            <li class="non-bullet list-item-inline"><a href="../../docs.html">Docs</a></li>
          </ul>
    </header>

      <!-- menu bar -->
      <aside>
        <div class="menu-bar">
          <h1>Components</h1>
          <ul class=""> 
            <a  href="../../docs.html"><li class="non-bullet hover-menu">Avatar</li></a>
            <a  href="../badge/badge.html"><li class="non-bullet hover-menu">Badge</li></a>
            <a  href="../alert/alert.html"><li class="non-bullet hover-menu">Alert</li></a>
            <a  href="../button/button.html"><li class="non-bullet hover-menu">button</li></a>
            <a  href="../card/card.html"><li class="non-bullet hover-menu">Card</li></a>
            <a  href="../images/images.html"><li class="non-bullet hover-menu">Images</li></a>
            <a  href="../input/input.html"><li class="non-bullet hover-menu">Input</li></a>
            <a  href="../modal/modal.html"><li class="non-bullet hover-menu">Modal</li></a>
            <a  href="../navigation/navigation.html"><li class="non-bullet hover-menu">Navigation</li></a>
            <a  href="#snackbar"><li class="non-bullet hover-menu highlight">Snackbar</li></a>
          </ul>
        </div>
      </aside>

      <!-- Content -->
      <main>
        <div class="heading">
          <h1>Snackbar</h1>
          <h2>Usage</h2>
          <p>Snackbars provide brief messages about  processes at the bottom of the screen.
          </p>
        </div>
        <div class="snackbar">
            <p>Item is already added in the cart</p>
            <button class="icon-button"><img src="../../assets/svg/delete.svg" alt="delete">
            </button>
        </div>
        <iframe class="code"
        src="https://carbon.now.sh/embed?bg=rgba%28224%2C224%2C236%2C1%29&t=monokai&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522snackbar%2522%253E%250A%2520%2520%253Cp%253EItem%2520is%2520already%2520added%2520in%2520the%2520cart%253C%252Fp%253E%250A%2520%2520%253Cbutton%2520class%253D%2522icon-button%2522%253E%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Fsvg%252Fdelete.svg%2522%2520alt%253D%2522delete%2522%253E%250A%2520%2520%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
        sandbox="allow-scripts allow-same-origin">
        </iframe>
          
      </main>
      <footer>
        
        <div class="footer-header" style="margin-bottom:2rem">Connect with me</div>
        
        <ul class="display-flex padding-zero">
            <li class="non-bullet list-item-inline">
                <a href="https://twitter.com/ChiragK31231937" class="links" target="blank">
                    <img src="../../assets/social/twitter.svg" alt="Twitter link" class="footer-icon">
                </a>
            </li>
            <li class="non-bullet list-item-inline">
                <a href="https://github.com/ChiragKumar987" class="links" target="blank">
                    <img src="../../assets/social/github.svg" alt="GitHub link" class="footer-icon">
                </a>
            </li>
            <li class="non-bullet list-item-inline">
                <a href="https://www.linkedin.com/in/chirag-kumar-b30443139/" class="links" target="blank">
                    <img src="../../assets/social/MdiLinkedin.svg" alt="Linkedin link" class="footer-icon">
                </a>
            </li>
            <li class="non-bullet list-item-inline">
                <a href="https://www.instagram.com/myself_chirag_/" class="links" target="blank">
                    <img src="../../assets/social/insta.svg" alt="Instagram link" class="footer-icon">
                </a>
            </li>
        </ul>
      </footer>
    </div>
    <script src="./modal.js"></script>
  </body>
  
</html>
